
<div class="projects-section-container">
  <div class="section-heading-container">
    <div class="section-heading">
      {{ "SOME_PROJECTS" | translate }}  
    </div>
  </div>
  <div class="projects-container">
    <div class="project"> <!-- B2B Conecta -->
      <div class="floating1">
        <img class="project-image" src="assets/img/png/projects/800PX_B2B_KS_Preview_Mockup_2.png" alt="">
      </div>
      <div class="project-card grow">
        <div class="project-card-heading text-uppercase">
          B2B Conecta
        </div>
        <div class="project-card-text">
          {{ "B2B_CONECTA_DESCRIPTION" | translate }}
        </div>
        <div class="project-card-button">
          <a class="more-button" (click)="openPdf('B2B')">
            {{ "SEE_MORE" | translate }} >
          </a>
        </div> 
      </div>
    </div>
    <div class="project"> <!-- Kidzania Secret Agent -->
      <div class="floating2">
        <img class="project-image kzn" src="assets/img/png/projects/iPAD_KIDZANIA_MOCKUP.png" alt="">
      </div>
      <div class="project-card grow">
        <div class="project-card-heading text-uppercase">
          Kidzania Secret Agent
        </div>
        <div class="project-card-text">
          {{ "KIDZANIA_DESCRIPTION" | translate }}
        </div>
        <div class="project-card-button">
          <a class="more-button" (click)="openPdf('KDZ')" >
            {{ "SEE_MORE" | translate }} >
          </a>
        </div> 
      </div>
    </div>
    <div class="project"> <!-- InfoAuto -->
      <div class="floating1">
        <img class="project-image" src="assets/img/png/projects/800PX_INFOAUTO.png" alt="">
      </div>
      <div class="project-card grow">
        <div class="project-card-heading text-uppercase">
          InfoAuto
        </div>
        <div class="project-card-text">
          {{ "INFOAUTO_DESCRIPTION" | translate }}
        </div>
        <div class="project-card-button">
          <a class="more-button" (click)="openPdf('INFOAUTO')">
            {{ "SEE_MORE" | translate }} >
          </a>
        </div> 
      </div>
    </div>
    <div class="project"> <!-- Finero -->
      <div class="floating2">
        <img class="project-image" src="assets/img/png/projects/800PX_FINERO_P_KS.png" alt="">
      </div>
      <div class="project-card grow">
        <div class="project-card-heading text-uppercase">
          Finero
        </div>
        <div class="project-card-text">
          {{ "FINERO_DESCRIPTION" | translate }}
        </div>
        <div class="project-card-button">
          <a class="more-button" (click)="openPdf('FINERO')">
            {{ "SEE_MORE" | translate }} >
          </a>
        </div> 
    </div>
    </div>
    <div class="project"> <!-- Invest Naija -->
      <div class="floating1">
          <img class="project-image naija" src="assets/img/png/projects/AURORA_COMP.png" alt="">
      </div>
      <div class="project-card grow">
        <div class="project-card-heading text-uppercase">
          Invest Naija
        </div>
        <div class="project-card-text">
          {{ "INVEST_NAIJA_DESCRIPTION" | translate }}
        </div>
        <div class="project-card-button">
          <a class="more-button" (click)="openPdf('NAIJA')"  >
            {{ "SEE_MORE" | translate }} >
          </a>
        </div> 
      </div>
    </div>
    <div class="project"> <!-- Key BnB -->
      <div class="floating2">
        <img class="project-image" src="assets/img/png/projects/800PX_KEYBNB_P_KS.png" alt="">
      </div>
      <div class="project-card grow">
        <div class="project-card-heading text-uppercase">
          KeyBnB
        </div>
        <div class="project-card-text">
          {{ "KEYBNB_DESCRIPTION" | translate }}
        </div>
        <div class="project-card-button">
          <a class="more-button" (click)="openPdf('KEYBNB')">
            {{ "SEE_MORE" | translate }} >
          </a>
        </div> 
      </div>
    </div>
  </div>
  <!-- <div class="testimonials-section">
    <div class="projects-section-container">
      <div class="something">

      </div>
      <div class="section-heading-container">
        <div class="section-heading">
          {{ "TESTIMONIALS" | translate }}  
        </div>
      </div>
    </div>
    <div class="testimonials-carousel">
      <div class="slider">
        <div class="mask">
          <ul>
            <li class="anim1">
              <div class="top-mark">"</div>
              <div class="quote">{{ "QUOTE1" | translate }}</div>
              <div class="source">- {{ "SOURCE1" | translate }}</div>
              <div class="buttom-mark">"</div>
            </li>
            <li class="anim2">
              <div class="top-mark">"</div>
              <div class="quote">{{ "QUOTE2" | translate }}</div>
              <div class="source">- {{ "SOURCE2" | translate }}</div>
              <div class="source">{{ "SOURCE2.1" | translate }}</div>
              <div class="buttom-mark">"</div>
            </li>
            <li class="anim3">
              <div class="top-mark">"</div>
              <div class="quote">{{ "QUOTE1" | translate }}</div>
              <div class="source">- {{ "SOURCE1" | translate }}</div>
              <div class="buttom-mark">"</div>
            </li>
            <li class="anim4">
              <div class="top-mark">"</div>
              <div class="quote">{{ "QUOTE2" | translate }}</div>
              <div class="source">- {{ "SOURCE2" | translate }}</div>
              <div class="source">{{ "SOURCE2.1" | translate }}</div>

              <div class="buttom-mark">"</div>
            </li> -->
            <!-- <li class="anim5">
              <div class="top-mark">"</div>
              <div class="quote">How do ya like that.</div>
              <div class="source">- Cassidy</div>
              <div class="buttom-mark">"</div>
            </li> -->
          <!-- </ul>
        </div>
      </div>
    </div>
  </div> -->
</div>
