<section id="services">

    <div class="section-heading-container">
      <div class="section-heading">
        {{ "SERVICES" | translate }}  
        <div class="section-heading-complement">
            {{ "SERVICES_COMPLEMENT" | translate }}
        </div>
      </div>
    </div>
    <div class="services-container">
      <div class="service">
        <div class="floating1">
          <img class="service-image" src="assets/img/png/1_KS_DESARROLLO_WEB_800PX.png" alt="">
        </div>
        <div class="service-card grow">
          <div class="service-card-heading text-uppercase">
            {{ "WEB_DEVELOPMENT" | translate }}
            
          </div>
          <div class="service-card-text">
            {{ "WEB_DEVELOPMENT_DESCRIPTION_1" | translate }}
            <strong>
              {{ "WEB_DEVELOPMENT_DESCRIPTION_2" | translate }}
            </strong>
            {{ "WEB_DEVELOPMENT_DESCRIPTION_3" | translate }}
          </div>
          <div class="service-card-button">
            <!-- <a class="more-button">
              {{ "SEE_MORE" | translate }} >
            </a> -->
          </div> 
        </div>
      </div>
      <div class="service">
        <div class="floating1">
          <img class="service-image" src="assets/img/png/2_KS_DESARROLLO_MOVIL_800px.png" alt="">
        </div>
        <div class="service-card grow">
          <div class="service-card-heading text-uppercase">
            {{ "MOBILE_DEVELOPMENT" | translate }}
            
          </div>
          <div class="service-card-text">
            {{ "MOBILE_DEVELOPMENT_DESCRIPTION_1" | translate }}
            <strong>
              {{ "MOBILE_DEVELOPMENT_DESCRIPTION_2" | translate }}
            </strong>
            {{ "MOBILE_DEVELOPMENT_DESCRIPTION_3" | translate }}
          </div>
          <div class="service-card-button">
            <!-- <a class="more-button">
              {{ "SEE_MORE" | translate }} >
            </a> -->
          </div> 
        </div>
      </div>
      <div class="service">
        <div class="floating1">
            <img class="service-image" src="assets/img/png/3_KS_CIENCIA_DE_DATOS_800PX.png" alt="">
        </div>
        <div class="service-card grow">
          <div class="service-card-heading text-uppercase">
            {{ "DATA_SCIENCE" | translate }}
            
          </div>
          <div class="service-card-text">
            {{ "DATA_SCIENCE_DESCRIPTION_1" | translate }}
            <strong>
              {{ "DATA_SCIENCE_DESCRIPTION_2" | translate }}
            </strong>
          </div>
          <div class="service-card-button">
            <!-- <a class="more-button">
              {{ "SEE_MORE" | translate }} >
            </a> -->
          </div> 
        </div>
      </div>
      <div class="service">
        <div class="floating2">
          <img class="service-image" src="assets/img/png/4_KS_AUTOMATIZACION_PROCESOS_PX.png" alt="">
        </div>
        <div class="service-card grow">
          <div class="service-card-heading text-uppercase">
            {{ "PROCESS_AUTOMATION" | translate }}
            
          </div>
          <div class="service-card-text">
            {{ "PROCESS_AUTOMATION_DESCRIPTION_1" | translate }}
            <strong>
              {{ "PROCESS_AUTOMATION_DESCRIPTION_2" | translate }}
            </strong>
            {{ "PROCESS_AUTOMATION_DESCRIPTION_3" | translate }}
          </div>
          <div class="service-card-button">
            <!-- <a class="more-button">
              {{ "SEE_MORE" | translate }} >
            </a> -->
          </div> 
        </div>
      </div>
      <div class="service">
        <div class="floating2">
          <img class="service-image" src="assets/img/png/5_KS_CONSULTORIA_DATOS_800PX.png" alt="">
        </div>
        <div class="service-card grow">
          <div class="service-card-heading text-uppercase">
            {{ "CLOUD_CONSULTING" | translate }}
            
          </div>
          <div class="service-card-text">
            {{ "CLOUD_CONSULTING_DESCRIPTION_1" | translate }}
            <strong>
              {{ "CLOUD_CONSULTING_DESCRIPTION_2" | translate }}
            </strong>
          </div>
          <div class="service-card-button">
            <!-- <a class="more-button">
              {{ "SEE_MORE" | translate }} >
            </a> -->
          </div> 
      </div>
      </div>
      <div class="service">
        <div class="floating2">
          <img class="service-image" src="assets/img/png/6_KS_DISENO_UI_UX_800PX.png" alt="">
        </div>
        <div class="service-card grow">
          <div class="service-card-heading text-uppercase">
            {{ "DESIGN" | translate }}
            
          </div>
          <div class="service-card-text">
            {{ "DESIGN_DESCRIPTION_1" | translate }}
            <strong>
              {{ "DESIGN_DESCRIPTION_2" | translate }}
            </strong>
          </div>
          <div class="service-card-button">
            <!-- <a class="more-button">
              {{ "SEE_MORE" | translate }} >
            </a> -->
          </div> 
        </div>
      </div>
    </div>
</section>