<section class="bg-light technology-section" id="technology">

  <div class="col-lg-12 text-center soverflow-elements">
    <h2 class="section-heading text-uppercase">{{ "TECHNOLOGY_TITLE" | translate }} </h2>
    <div class="subheading">
      {{ "TECHNOLOGY_TEXT" | translate }}
    </div>
  </div>

  <div class="logos-row justify-content-center d-flex">
    <div class="logo">
      <a href="https://angular.io/" target="_blank">
        <img id="angular" src="../../../assets/img/png/logos/angular.png" class="image-logo" />
      </a>
    </div>
    <div class="logo">
      <a href="https://aws.amazon.com/" target="_blank">
        <img src="../../../assets/img/png/logos/aws.png" class="image-logo" />
      </a>
    </div>
    <div class="logo">
      <a href="https://firebase.google.com/" target="_blank">
        <img src="../../../assets/img/png/logos/firebase.png" class="image-logo" />
      </a>
    </div>
    <div class="logo">
      <a href="https://flutter.io/" target="_blank">
        <img src="../../../assets/img/png/logos/flutter.png" class="image-logo" />
      </a>
    </div>
    <div class="logo">
      <a href="https://en.wikipedia.org/wiki/HTML" target="_blank">
        <img id="html" src="../../../assets/img/png/logos/html.png" class="image-logo" />
      </a>
    </div>
    <div class="logo">
      <a href="https://ionicframework.com/" target="_blank">
        <img src="../../../assets/img/png/logos/ionic.png" class="image-logo" />
      </a>
    </div>
    <div class="logo">
      <a href="https://www.mongodb.com/" target="_blank">
        <img src="../../../assets/img/png/logos/mongo.png" class="image-logo" />
      </a>
    </div>
    <div class="logo">
      <a href="https://dotnet.microsoft.com/" target="_blank">
        <img src="../../../assets/img/png/logos/net.png" class="image-logo" />
      </a>
    </div>
    <div class="logo">
      <a href="https://nodejs.org/en/" target="_blank">
        <img src="../../../assets/img/png/logos/nodejs.png" class="image-logo" />
      </a>
    </div>
    <div class="logo">
      <a href="https://www.python.org/" target="_blank">
        <img id="python" src="../../../assets/img/png/logos/python.png" class="image-logo" />
      </a>
    </div>
    <div class="logo">
      <a href="https://www.rstudio.com/" target="_blank">
        <img src="../../../assets/img/png/logos/rstudio.png" class="image-logo" />
      </a>
    </div>
    <div class="logo">
      <a href="https://azure.microsoft.com/en-us/services/sql-database/" target="_blank">
        <img src="../../../assets/img/png/logos/sql.png" class="image-logo" />
      </a>
    </div>

    <div class="logo">
      <a href="https://angular.io/" target="_blank">
        <img id="angular" src="../../../assets/img/png/logos/angular.png" class="image-logo" />
      </a>
    </div>
    <div class="logo">
      <a href="https://aws.amazon.com/">
        <img src="../../../assets/img/png/logos/aws.png" class="image-logo" />
      </a>
    </div>
    <div class="logo">
      <a href="https://firebase.google.com/" target="_blank">
        <img src="../../../assets/img/png/logos/firebase.png" class="image-logo" />
      </a>
    </div>
    <div class="logo">
      <a href="https://flutter.io/" target="_blank">
        <img src="../../../assets/img/png/logos/flutter.png" class="image-logo" />
      </a>
    </div>
    <div class="logo">
      <a href="https://en.wikipedia.org/wiki/HTML" target="_blank">
        <img id="html" src="../../../assets/img/png/logos/html.png" class="image-logo" />
      </a>
    </div>
    <div class="logo">
      <a href="https://ionicframework.com/" target="_blank">
        <img src="../../../assets/img/png/logos/ionic.png" class="image-logo" />
      </a>
    </div>
    <div class="logo">
      <a href="https://www.mongodb.com/" target="_blank">
        <img src="../../../assets/img/png/logos/mongo.png" class="image-logo" />
      </a>
    </div>
    <div class="logo">
      <a href="https://dotnet.microsoft.com/" target="_blank">
        <img src="../../../assets/img/png/logos/net.png" class="image-logo" />
      </a>
    </div>
    <div class="logo">
      <a href="https://nodejs.org/en/" target="_blank">
        <img src="../../../assets/img/png/logos/nodejs.png" class="image-logo" />
      </a>
    </div>
    <div class="logo">
      <a href="https://www.python.org/" target="_blank">
        <img id="python" src="../../../assets/img/png/logos/python.png" class="image-logo" />
      </a>
    </div>
    <div class="logo">
      <a href="https://www.rstudio.com/" target="_blank">
        <img src="../../../assets/img/png/logos/rstudio.png" class="image-logo" />
      </a>
    </div>
    <div class="logo">
      <a href="https://azure.microsoft.com/en-us/services/sql-database/" target="_blank">
        <img src="../../../assets/img/png/logos/sql.png" class="image-logo" />
      </a>
    </div>
    <div class="logo">
      <a href="https://angular.io/" target="_blank">
        <img id="angular" src="../../../assets/img/png/logos/angular.png" class="image-logo" />
      </a>
    </div>
    <div class="logo">
      <a href="https://aws.amazon.com/" target="_blank">
        <img src="../../../assets/img/png/logos/aws.png" class="image-logo" />
      </a>
    </div>
  </div>

</section>