<section id="second-intro">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="my-section-heading ">Kanto
            <h2 class="section-heading-below">Studio</h2>
        </h2> 
      </div>
    </div>
      <div class="text-center">
        <p class="text-muted ">
          {{ "SECOND_INTRO_TEXT" | translate }}
        </p>
      </div>
    <div class="waves-container">
        <div class="wave1">
            <div> <img src="/assets/img/svg/onda1.svg"/></div>
            <div class="reverse"><img src="/assets/img/svg/onda1.svg"/></div>
            <div> <img src="/assets/img/svg/onda1.svg"/></div>
            <div class="reverse"><img src="/assets/img/svg/onda1.svg"/></div>
            <div> <img src="/assets/img/svg/onda1.svg"/></div>
            <div class="reverse"><img src="/assets/img/svg/onda1.svg"/></div>
          </div>
          <div class="wave2">
              <div> <img src="/assets/img/svg/onda2.svg"/></div>
              <div class="reverse"><img src="/assets/img/svg/onda2.svg"/></div>
              <div> <img src="/assets/img/svg/onda2.svg"/></div>
              <div class="reverse"><img src="/assets/img/svg/onda2.svg"/></div>
              <div> <img src="/assets/img/svg/onda2.svg"/></div>
              <div class="reverse"><img src="/assets/img/svg/onda2.svg"/></div>
          </div>
          <div class="wave3">
              <div> <img src="/assets/img/svg/onda3.svg"/></div>
            <div class="reverse"><img src="/assets/img/svg/onda3.svg"/></div>
            <div> <img src="/assets/img/svg/onda3.svg"/></div>
            <div class="reverse"><img src="/assets/img/svg/onda3.svg"/></div>
            <div> <img src="/assets/img/svg/onda3.svg"/></div>
            <div class="reverse"><img src="/assets/img/svg/onda3.svg"/></div>
          </div>
          <div class="wave4">
              <div> <img src="/assets/img/svg/onda4.svg"/></div>
            <div class="reverse"><img src="/assets/img/svg/onda4.svg"/></div>
            <div> <img src="/assets/img/svg/onda4.svg"/></div>
            <div class="reverse"><img src="/assets/img/svg/onda4.svg"/></div>
            <div> <img src="/assets/img/svg/onda4.svg"/></div>
            <div class="reverse"><img src="/assets/img/svg/onda4.svg"/></div>
          </div>
          <div class="wave5">
              <div> <img src="/assets/img/svg/onda5.svg"/></div>
            <div class="reverse"><img src="/assets/img/svg/onda5.svg"/></div>
            <div> <img src="/assets/img/svg/onda5.svg"/></div>
            <div class="reverse"><img src="/assets/img/svg/onda5.svg"/></div>
            <div> <img src="/assets/img/svg/onda5.svg"/></div>
            <div class="reverse"><img src="/assets/img/svg/onda5.svg"/></div>
          </div>
    </div>
  </div>
</section>
