<header class="masthead" id="page-top">
  <div id="particles-js"></div>
  <div class="container">
    <div class="intro-text">
      <div class="intro-heading text-uppercase">
        {{ "YES" | translate }},
        {{ "WE_DEVELOP" | translate }} <br *ngIf="isMobile">
        <span class="typed-element"></span>.
      </div>
      <div class="intro-info">{{ "MUCH_MORE_THAN" | translate }} <b>{{"SOFTWARE_DEV" | translate}}</b>.</div>
      <div class="know-more">
        <a href="#trusted-by">{{ "KNOW_MORE" | translate }}</a>
      </div>
    </div>
  </div>
</header>
