<section class="trusted-by-section overflow-elements" id="trusted-by">

  <div class="section-heading-container">
    <div class="section-heading">
      {{ "TRUSTED_BY_TITLE" | translate }}  
      <div class="section-heading-complement">
         {{ "TRUSTED_BY_TITLE_COMPLEMENT" | translate }}
      </div>
    </div>
  </div>

  <div class="logos-row d-flex">

    <div class="logo">
      <a href="https://b2bconecta.io/" target="_blank">
        <img src="../../../assets/img/png/logos/1000PX_B2B.png" class="image-logo" />
      </a>
    </div>
    <div class="logo">
      <a>
        <img src="../../../assets/img/png/logos/1000PX_EVA.png" class="image-logo" />
      </a>
    </div>
    <div class="logo">
      <a href="https://www.fineropay.com/" target="_blank">
        <img src="../../../assets/img/png/logos/1000PX_FINEROPAY.png" class="image-logo" />
      </a>
    </div>
    <div class="logo">
      <a href="https://gnponline.mx/" target="_blank">
        <img src="../../../assets/img/png/logos/1000PX_GNP.png" class="image-logo" />
      </a>
    </div>
    <div class="logo">
      <a href="https://www.helikan.com/" target="_blank">
        <img id="helikan" src="../../../assets/img/png/logos/1000PX_HELIKAN.png" class="image-logo" />
      </a>
    </div>
    <div class="logo">
      <a href="https://incoret.com.mx/" target="_blank">
        <img src="../../../assets/img/png/logos/1000PX_INCORET_2D.png" class="image-logo" />
      </a>
    </div>
    <div class="logo">
      <a href="https://vech.com.mx/" target="_blank">
        <img src="../../../assets/img/png/logos/1000PX_VECH_Gradient.png" class="image-logo" />
      </a>
    </div>
    <div class="logo">
      <a href="https://kidzania.com" target="_blank">
        <img src="../../../assets/img/png/logos/KIDZANIA.png" class="image-logo" />
      </a>
    </div>
    <div class="logo">
      <a href="https://www.keybnb.com.mx/" target="_blank">
        <img src="../../../assets/img/png/logos/logo_250_keybnb.png" class="image-logo" />
      </a>
    </div>
    <div class="logo">
      <a href="https://apps.apple.com/us/app/safe-it/id1318430272#?platform=iphone" target="_blank">
        <img id="safeit" src="../../../assets/img/png/logos/SafeIt.png" class="image-logo" />
      </a>
    </div>
    <div class="logo">
      <a href="https://b2bconecta.io/" target="_blank">
        <img src="../../../assets/img/png/logos/1000PX_B2B.png" class="image-logo" />
      </a>
    </div>
    <div class="logo">
      <a>
        <img src="../../../assets/img/png/logos/1000PX_EVA.png" class="image-logo" />
      </a>
    </div>

    <div class="logo">
      <a href="https://www.fineropay.com/" target="_blank">
        <img src="../../../assets/img/png/logos/1000PX_FINEROPAY.png" class="image-logo" />
      </a>
    </div>
    <div class="logo">
      <a href="https://gnponline.mx/" target="_blank">
        <img src="../../../assets/img/png/logos/1000PX_GNP.png" class="image-logo" />
      </a>
    </div>
    <div class="logo">
      <a href="https://www.helikan.com/" target="_blank">
        <img id="helikan" src="../../../assets/img/png/logos/1000PX_HELIKAN.png" class="image-logo" />
      </a>
    </div>
    <div class="logo">
      <a href="https://incoret.com.mx/" target="_blank">
        <img src="../../../assets/img/png/logos/1000PX_INCORET_2D.png" class="image-logo" />
      </a>
    </div>
    <div class="logo">
      <a href="https://vech.com.mx/" target="_blank">
        <img  src="../../../assets/img/png/logos/1000PX_VECH_Gradient.png" class="image-logo" />
      </a>
    </div>
    <div class="logo">
      <a href="https://kidzania.com" target="_blank">
        <img src="../../../assets/img/png/logos/KIDZANIA.png" class="image-logo" />
      </a>
    </div>
    <div class="logo">
      <a href="https://www.keybnb.com.mx/" target="_blank">
        <img src="../../../assets/img/png/logos/logo_250_keybnb.png" class="image-logo" />
      </a>
    </div>
    <div class="logo">
      <a href="https://apps.apple.com/us/app/safe-it/id1318430272#?platform=iphone" target="_blank">
        <img id="safeit" src="../../../assets/img/png/logos/SafeIt.png" class="image-logo" />
      </a>
    </div>
    <div class="logo">
      <a href="https://b2bconecta.io/" target="_blank">
        <img src="../../../assets/img/png/logos/1000PX_B2B.png" class="image-logo" />
      </a>
    </div>
  </div>
</section>